@model IEnumerable<ContactHarbor.Models.Contact>

@{
    ViewData["Title"] = "My Contacts";
}

<div class="container">
    <div class="row">
        <h1 class="mb-4">My Contacts</h1>
    </div>
    <div class="d-flex justify-content-end mb-1">
        <a asp-action="Create" class="btn btn-app-primary">Create New</a>
    </div>
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-3 mt-3 mt-lg-0">
            <div class="search-filter-box">
                <!-- Search and Filter Section -->
                <h2>Search Contacts</h2>
                <form asp-action="Index">
                    <div class="input-group my-3">
                        <input type="text" class="form-control" id="search-input" placeholder="Search for contacts..." name="searchString">
                        <div class="input-group-append">
                            <button class="btn btn-app-primary" type="submit" id="search-button">Search</button>
                        </div>
                    </div>
                    <div class="input-group my-3">
                        <select id="category-filter" name="categoryId" asp-items="@(ViewData["CategoryList"] as SelectList)" class="form-control">
                            <option value="">Select Category</option>
                        </select>
                    </div>
                    <button class="btn btn-danger my-2 my-sm-0" id="clear-button">Clear Search</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <!-- Contacts List Section -->
            <div id="contactTable">
                <partial name="_ContactTable" model="Model" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#search-button").click(function (e) {
                e.preventDefault();
                var searchString = $("#search-input").val();

                if (searchString.trim() !== "") {
                    e.preventDefault();
                    $("#contactTable").load("/Contacts/Search?searchString=" + searchString);
                }
                else {
                    e.preventDefault();
                }
            });

            $("#category-filter").change(function () {
                var categoryId = $(this).val();

                if (categoryId !== "") {
                    $("#contactTable").load("/Contacts/FilterByCategory?categoryId=" + categoryId);
                }
                else {
                    location.reload();
                }
            });

            $("#clear-button").click(function (e) {
                e.preventDefault();
                location.reload();
            });
        });
    </script>
}